$primary-100: #6720bd;
$primary-200: #7b3cc5;
$primary-300: #8e55cd;
$primary-400: #9f6dd5;
$primary-500: #b085dc;
$primary-600: #c19ce3;
$dark-100: #121212;
$dark-200: #282828;
$dark-300: #3f3f3f;
$dark-400: #575757;
$dark-500: #717171;
$dark-600: #8b8b8b;
$mixed-100: #1c1621;
$mixed-100-50: #1c1621a0;
$mixed-200: #312b36;
$mixed-300: #47424c;
$mixed-400: #5f5a63;
$mixed-500: #78737b;
$mixed-600: #918d94;

$font-tiny: 12px;
$font-small: 14px;
$font-norm: 16px;
$font-bigish: 24px;
$font-big: 32px;
$font-huge: 48px;

* {
    box-sizing: border-box;
    font-family:'Roboto Condensed', Roboto, Helvetica, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: $font-norm;
    //font-weight: bold;
}

body {
    background-color: $mixed-100;
}

.sheet-background {
    background-color: $mixed-100;
    padding: 0.15em 0;
}

.sheet-section {
    border: 0px;
    border-radius: 10px;
    background-color: $mixed-200;
    margin: 0 0.15em;
    height: 100%;
    padding: 0.3em;
}

.small-header {
    color: #cacaca;
    font-size: $font-small;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.link {
    color: $primary-300;
}
.link:hover {
    color: $primary-600
}
.link:active {
    color: $primary-200;
}

.no-spin {
    -moz-appearance: textfield;
    appearance: textfield;
    background-color: $mixed-200;
    text-align: center;
    border: none;

    ::-webkit-outer-spin-button, ::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

/* ~~~~~~~~~~~ NAV BAR  ~~~~~~~~~~~ */
/* ~~~~~~~~~~~ NAV BAR  ~~~~~~~~~~~ */
/* ~~~~~~~~~~~ NAV BAR  ~~~~~~~~~~~ */
#nav-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    #home-button {
        position: absolute;
        top: 0;
        left: 0;
        font-weight: normal;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 0 0.3em;
        text-decoration: none;
    }

    #title-bar {
        font-size: $font-bigish;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* ~~~~~~~~~~~ MAIN BODY  ~~~~~~~~~~~ */
/* ~~~~~~~~~~~ MAIN BODY  ~~~~~~~~~~~ */
/* ~~~~~~~~~~~ MAIN BODY  ~~~~~~~~~~~ */
#main-body {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#gallery {
    margin: 1em;
    width: 800px;
    height: 400px;
    background-color: $mixed-200;
}

#welcome {
    margin: 0 1em;
    &-content {
        font-size: $font-big;
    }
}

#blurb {
    text-align: center;
    margin: 0 1em 1em 1em;
}

#nav-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 0.3em;

    .nav-button {
        border: 0;
        background-color: $mixed-300;
        padding: 0.3em;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-icon {
            font-size: $font-huge;
        }
    }
    .nav-button:hover {
        background-color: $mixed-400;
    }
    .nav-button:active {
        background-color: $mixed-300;
    }
}