@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed"), url("../fonts/RobotoCondensed-VariableFont_wght.ttf");
}
* {
  box-sizing: border-box;
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  background-color: #1c1621;
}

.sheet-background {
  background-color: #1c1621;
  padding: 0.3em;
}

.sheet-section {
  border: 0px;
  border-radius: 10px;
  background-color: #312b36;
  height: 100%;
  padding: 0.3em;
}

.small-header {
  color: #cacaca;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}

.big-header {
  color: #cacaca;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.3em;
}

button, input[type=submit] {
  border: 0;
  background-color: #47424c;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 5px;
}

button:hover, input[type=submit]:hover {
  background-color: #5f5a63;
}

button:active, input[type=submit]:active {
  background-color: #7b3cc5;
}

input[type=text], textarea, select {
  background-color: #47424c;
  border: none;
  border-radius: 5px;
  padding: 0.3em;
}

input[type=text]:hover, textarea:hover, select:hover {
  background-color: #5f5a63;
}

input[type=text]:focus, textarea:focus, select:focus {
  outline: none;
  background-color: #5f5a63;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 2.5px;
}

::-webkit-scrollbar-thumb {
  background: #5f5a63;
  border-radius: 2.5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #47424c;
}

.no-spin {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
  background-color: #312b36;
  text-align: center;
  border: none;
}
.no-spin ::-webkit-outer-spin-button, .no-spin ::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 1em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #918d94;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 0.75em;
  width: 0.75em;
  left: 0.125em;
  bottom: 0.125em;
  background-color: white;
  transition: 0.2s;
}

input:checked + .slider {
  background-color: #8e55cd;
}

input:focus + .slider {
  box-shadow: 0 0 1px #8e55cd;
}

input:checked + .slider:before {
  transform: translateX(1em);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.bigish {
  font-size: 24px;
}

.link {
  color: #8e55cd;
}

.link:hover {
  color: #c19ce3;
}

.link:active {
  color: #7b3cc5;
}

label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* ~~~~~~~~~~~ NAV BAR  ~~~~~~~~~~~ */
/* ~~~~~~~~~~~ NAV BAR  ~~~~~~~~~~~ */
/* ~~~~~~~~~~~ NAV BAR  ~~~~~~~~~~~ */
#nav-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#nav-header #home-button {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: normal;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0 0.3em;
  text-decoration: none;
}
#nav-header #home-button:focus {
  outline: none;
}
#nav-header #title-bar {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ~~~~~~~~~~~ ROW 1  ~~~~~~~~~~~ */
/* ~~~~~~~~~~~ ROW 1  ~~~~~~~~~~~ */
/* ~~~~~~~~~~~ ROW 1  ~~~~~~~~~~~ */
#sheet-row1 {
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* a div containing the portrait and edit button */
  /* a div containing the character information */
}
#sheet-row1 #portrait-edit {
  flex: 0.5 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#sheet-row1 #portrait-edit #portrait-container {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}
#sheet-row1 #portrait-edit #portrait { /* img */
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
#sheet-row1 #portrait-edit #edit-button { /* button */
  width: 100%;
}
#sheet-row1 #char-info {
  flex: 2 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#sheet-row1 #char-info-row1, #sheet-row1 #char-info-row2 {
  flex: 1 1 50%;
  display: flex;
  flex-direction: row;
  width: 100%;
}
#sheet-row1 #char-info .char-div {
  padding: 0.2em;
}
#sheet-row1 #char-info #char-name, #sheet-row1 #char-info #char-race, #sheet-row1 #char-info #char-size, #sheet-row1 #char-info #char-speed, #sheet-row1 #char-info #char-class {
  flex: 1 1 25%;
  display: flex;
  flex-direction: column;
}
#sheet-row1 #char-info #char-name :first-of-type, #sheet-row1 #char-info #char-race :first-of-type, #sheet-row1 #char-info #char-size :first-of-type, #sheet-row1 #char-info #char-speed :first-of-type, #sheet-row1 #char-info #char-class :first-of-type {
  flex: 1 1 20%;
}
#sheet-row1 #char-info #char-name :last-of-type, #sheet-row1 #char-info #char-race :last-of-type, #sheet-row1 #char-info #char-size :last-of-type, #sheet-row1 #char-info #char-speed :last-of-type, #sheet-row1 #char-info #char-class :last-of-type {
  flex: 1 1 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sheet-row1 #char-info .class-div { /* span */
  display: flex;
  justify-content: center;
  align-items: center;
}
#sheet-row1 #char-info #experience { /* div */
  flex: 1 1 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.2em;
}
#sheet-row1 #char-info #experience #char-experience { /* span */
  flex: 1 1 auto;
  width: 100%;
  text-align: center;
}
#sheet-row1 #char-info #experience #experience-nums {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#sheet-row1 #char-info #experience #experience-nums #current-experience, #sheet-row1 #char-info #experience #experience-nums #next-experience { /* span */
  height: 100%;
  flex: 1 1 50%;
  display: flex;
}
#sheet-row1 #char-info #experience #experience-nums #current-experience {
  justify-content: flex-start;
  align-items: flex-start;
}
#sheet-row1 #char-info #experience #experience-nums #next-experience {
  justify-content: flex-end;
  align-items: flex-start;
}
#sheet-row1 #char-info #experience #experience-bar { /* progress */
  flex: 1 1 auto;
  width: 100%;
}
#sheet-row1 #hit-points {
  flex: 2 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#sheet-row1 #hit-points #hp { /* div */
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
#sheet-row1 #hit-points #hp #hp-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#sheet-row1 #hit-points #hp #hp-container #hp-value {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  min-width: 1em;
  max-width: 1em;
}
#sheet-row1 #hit-points #hp #hp-container #hp-slash {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
}
#sheet-row1 #hit-points #hp #hp-container #hp-max {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  min-width: 1em;
  max-width: 1em;
}
#sheet-row1 #hit-points #thp { /* div */
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#sheet-row1 #hit-points #thp #thp-header { /* span */
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#sheet-row1 #hit-points #thp #thp-value { /* input */
  font-size: 48px;
}
#sheet-row1 #hit-points #hp-buttons {
  flex: 1 1 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
#sheet-row1 #hit-points #hp-buttons-input {
  height: 30%;
  width: 100%;
  min-width: 0;
  background-color: #47424c;
  text-align: center;
  border: none;
}
#sheet-row1 #hit-points #hp-buttons #damage-button {
  height: 30%;
  width: 100%;
}
#sheet-row1 #hit-points #hp-buttons #heal-button {
  height: 30%;
  width: 100%;
}
#sheet-row1 #rest-buttons {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: space-evenly;
}
#sheet-row1 #rest-buttons #short-rest-button {
  height: 45%;
  width: 100%;
}
#sheet-row1 #rest-buttons #long-rest-button {
  height: 45%;
  width: 100%;
}
#sheet-row1 #conditions {
  flex: 3 1 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#sheet-row1 #conditions #conditions-header { /* span */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#sheet-row1 #conditions #conditions-header #conditions-name {
  flex: 1 1 95%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#sheet-row1 #conditions #conditions-header #conditions-button { /* button */
  flex: 1 1 5%;
}
#sheet-row1 #conditions #conditions-content { /* div */
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#sheet-row1 #conditions #conditions-content .condition {
  background-color: #47424c;
  padding: 0.4em;
  border: none;
  border-radius: 10px;
}

/* ~~~~~~~~~~~ ROW 2  ~~~~~~~~~~~ */
/* ~~~~~~~~~~~ ROW 2  ~~~~~~~~~~~ */
/* ~~~~~~~~~~~ ROW 2  ~~~~~~~~~~~ */
#sheet-row2 {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#sheet-row2 #proficiency-bonus {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#sheet-row2 #proficiency-bonus #prof-bonus-header {
  box-sizing: content-box;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}
#sheet-row2 #proficiency-bonus #prof-bonus {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 2em);
  margin: 0.3em;
  font-size: 32px;
}
#sheet-row2 #initiative {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#sheet-row2 #initiative #init-header {
  box-sizing: content-box;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}
#sheet-row2 #initiative #init-bonus {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 2em);
  margin: 0.3em;
  font-size: 32px;
}
#sheet-row2 #stats {
  flex: 5 1 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 0 0.5em;
}
#sheet-row2 #stats :first-of-type {
  grid-column: 1/2;
}
#sheet-row2 #stats :nth-of-type(2) {
  grid-column: 2/3;
}
#sheet-row2 #stats :nth-of-type(3) {
  grid-column: 3/4;
}
#sheet-row2 #stats :nth-of-type(4) {
  grid-column: 4/5;
}
#sheet-row2 #stats :nth-of-type(5) {
  grid-column: 5/6;
}
#sheet-row2 #stats :last-of-type {
  grid-column: 6/7;
}
#sheet-row2 #stats #strength, #sheet-row2 #stats #dexterity, #sheet-row2 #stats #constitution, #sheet-row2 #stats #intelligence, #sheet-row2 #stats #wisdom, #sheet-row2 #stats #charisma {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#sheet-row2 #stats #strength :first-of-type, #sheet-row2 #stats #dexterity :first-of-type, #sheet-row2 #stats #constitution :first-of-type, #sheet-row2 #stats #intelligence :first-of-type, #sheet-row2 #stats #wisdom :first-of-type, #sheet-row2 #stats #charisma :first-of-type {
  flex: 1 1 auto;
}
#sheet-row2 #stats #strength :nth-of-type(2), #sheet-row2 #stats #dexterity :nth-of-type(2), #sheet-row2 #stats #constitution :nth-of-type(2), #sheet-row2 #stats #intelligence :nth-of-type(2), #sheet-row2 #stats #wisdom :nth-of-type(2), #sheet-row2 #stats #charisma :nth-of-type(2) {
  flex: 2 1 auto;
}
#sheet-row2 #stats #strength :last-of-type, #sheet-row2 #stats #dexterity :last-of-type, #sheet-row2 #stats #constitution :last-of-type, #sheet-row2 #stats #intelligence :last-of-type, #sheet-row2 #stats #wisdom :last-of-type, #sheet-row2 #stats #charisma :last-of-type {
  flex: 1 1 auto;
}
#sheet-row2 .stat-value {
  flex: 80;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
}
#sheet-row2 .stat-bonus {
  flex: 10;
  margin: 0;
  font-size: 32px;
}
#sheet-row2 #saving-throws {
  flex: 5 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#sheet-row2 #saving-throws #st-header {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#sheet-row2 #saving-throws #st-container {
  flex: 2 1 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 0 0.5em;
  width: 100%;
}
#sheet-row2 #saving-throws #st-container :first-of-type {
  grid-column: 1/2;
}
#sheet-row2 #saving-throws #st-container :nth-of-type(2) {
  grid-column: 2/3;
}
#sheet-row2 #saving-throws #st-container :nth-of-type(3) {
  grid-column: 3/4;
}
#sheet-row2 #saving-throws #st-container :nth-of-type(4) {
  grid-column: 4/5;
}
#sheet-row2 #saving-throws #st-container :nth-of-type(5) {
  grid-column: 5/6;
}
#sheet-row2 #saving-throws #st-container :last-of-type {
  grid-column: 6/7;
}
#sheet-row2 #saving-throws #st-container #st-strength, #sheet-row2 #saving-throws #st-container #st-dexterity, #sheet-row2 #saving-throws #st-container #st-constitution, #sheet-row2 #saving-throws #st-container #st-intelligence, #sheet-row2 #saving-throws #st-container #st-wisdom, #sheet-row2 #saving-throws #st-container #st-charisma {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#sheet-row2 .st-value {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
}
#sheet-row2 .st-prof {
  font-size: 24px;
  font-weight: bold;
}
#sheet-row2 #defenses {
  flex: 2 1 auto;
  padding: 0.3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#sheet-row2 #defenses #AC {
  flex: 2 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  width: 100%;
}
#sheet-row2 #defenses #resists-weaknesses {
  width: 70%;
}
#sheet-row2 #senses {
  flex: 3 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#sheet-row2 #senses #senses-header, #sheet-row2 #senses #vision-type {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#sheet-row2 #senses #senses-container {
  flex: 2 1 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  width: 100%;
}
#sheet-row2 #senses #passive-perception-header, #sheet-row2 #senses #passive-insight-header, #sheet-row2 #senses #passive-investigation-header {
  text-align: center;
  grid-row: 1/2;
}
#sheet-row2 #senses #passive-perception, #sheet-row2 #senses #passive-insight, #sheet-row2 #senses #passive-investigation {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  grid-row: 2/3;
}

/* ~~~~~~~~~~~ ROW 3  ~~~~~~~~~~~ */
/* ~~~~~~~~~~~ ROW 3  ~~~~~~~~~~~ */
/* ~~~~~~~~~~~ ROW 3  ~~~~~~~~~~~ */
#sheet-row3 {
  position: absolute;
  top: 35%;
  left: 0;
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#sheet-row3 #skills {
  flex: 2 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}
#sheet-row3 #skills #skills-header {
  width: 100%;
}
#sheet-row3 #skills :nth-child(odd) + .skill-container {
  background-color: #47424c;
}
#sheet-row3 #skills .skill-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 4fr 2fr;
  grid-template-rows: auto;
  margin: 1px 0;
}
#sheet-row3 #skills .skill-container .skill-prof {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
#sheet-row3 #skills .skill-container .skill-stat {
  color: #cacaca;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sheet-row3 #skills .skill-container .skill-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
#sheet-row3 #skills .skill-container .skill-bonus {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
#sheet-row3 #inspiration-prof-container {
  flex: 2 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 0.15em;
}
#sheet-row3 #inspiration {
  height: 0;
  flex: 1 1 20%;
  width: 100%;
  margin: 0 0 0.15em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#sheet-row3 #inspiration-header {
  flex: 0.1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sheet-row3 #inspiration-container {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#sheet-row3 #inspiration-container-bg3 {
  flex: 1 1 auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
#sheet-row3 #inspiration .inspiration-checkbox {
  display: none;
}
#sheet-row3 #inspiration .inspiration-checkbox-label-raw {
  flex: 1 1 auto;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-image: url(../img/inspiration-off.svg);
  background-repeat: no-repeat;
  background-position-x: center;
}
#sheet-row3 #inspiration .inspiration-checkbox-label {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-image: url(../img/inspiration-off.svg);
  background-repeat: no-repeat;
  background-position-x: center;
}
#sheet-row3 #inspiration input[type=checkbox]:checked + .inspiration-checkbox-label, #sheet-row3 #inspiration input[type=checkbox]:checked + .inspiration-checkbox-label-raw {
  background-image: url(../img/inspiration-on.svg);
}
#sheet-row3 #proficiencies {
  height: 0;
  flex: 6 1 80%;
  width: 100%;
  margin: 0.15em 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#sheet-row3 #proficiencies-header {
  flex: 0.1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#sheet-row3 #proficiencies-weapons, #sheet-row3 #proficiencies-armor, #sheet-row3 #proficiencies-tools, #sheet-row3 #proficiencies-languages, #sheet-row3 #proficiencies-other {
  flex: 1 1 auto;
}
#sheet-row3 #information-container {
  flex: 5 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#sheet-row3 #information-container-buttons {
  flex: 0.1 1 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#sheet-row3 #information-container-actions {
  flex: 5 1 auto;
  width: 100%;
}
#sheet-row3 #class-info-container {
  flex: 4 1 auto;
}

/* ~~~~~~~~~~~ SIDE BAR  ~~~~~~~~~~~ */
/* ~~~~~~~~~~~ SIDE BAR  ~~~~~~~~~~~ */
/* ~~~~~~~~~~~ SIDE BAR  ~~~~~~~~~~~ */
@-webkit-keyframes side-bar-slide-in {
  from {
    left: 100%;
  }
  to {
    left: 60%;
  }
}
@keyframes side-bar-slide-in {
  from {
    left: 100%;
  }
  to {
    left: 60%;
  }
}
@-webkit-keyframes side-bar-slide-out {
  from {
    left: 60%;
  }
  to {
    left: 100%;
  }
}
@keyframes side-bar-slide-out {
  from {
    left: 60%;
  }
  to {
    left: 100%;
  }
}
#side-bar-fade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(28, 22, 33, 0.6274509804);
  overflow: hidden;
}
#side-bar-fade #side-bar {
  position: absolute;
  top: 0;
  left: 100%;
  width: 40%;
  height: 100%;
  z-index: 3;
  margin: 0;
  padding: 0.3em;
  background-color: #312b36;
  -webkit-animation: side-bar-slide-in 0.1s ease-in-out forwards;
          animation: side-bar-slide-in 0.1s ease-in-out forwards;
}
#side-bar-fade .side-bar-slide-out {
  -webkit-animation: side-bar-slide-out 0.1s ease-in-out forwards !important;
          animation: side-bar-slide-out 0.1s ease-in-out forwards !important;
}/*# sourceMappingURL=dnd-sheet.css.map */