$primary-100: #6720bd;
$primary-200: #7b3cc5;
$primary-300: #8e55cd;
$primary-400: #9f6dd5;
$primary-500: #b085dc;
$primary-600: #c19ce3;
$dark-100: #121212;
$dark-200: #282828;
$dark-300: #3f3f3f;
$dark-400: #575757;
$dark-500: #717171;
$dark-600: #8b8b8b;
$mixed-100: #1c1621;
$mixed-100-50: #1c1621a0;
$mixed-200: #312b36;
$mixed-300: #47424c;
$mixed-400: #5f5a63;
$mixed-500: #78737b;
$mixed-600: #918d94;

$font-tiny: 12px;
$font-small: 14px;
$font-norm: 16px;
$font-bigish: 24px;
$font-big: 32px;
$font-huge: 48px;

.bigish {
    font-size: $font-bigish;
}

* {
    box-sizing: border-box;
    font-family:'Roboto Condensed', Roboto, Helvetica, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: $font-norm;
    //font-weight: bold;
}

body {
    background-color: $mixed-100;
}

.sheet-background {
    background-color: $mixed-100;
    padding: 0.15em 0;
}

.sheet-section {
    border: 0px;
    border-radius: 10px;
    background-color: $mixed-200;
    margin: 0 0.15em;
    height: 100%;
    padding: 0.3em;
}

.small-header {
    color: #cacaca;
    font-size: $font-small;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.big-header {
    color: #cacaca;
    font-size: $font-bigish;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.3em;
}

button {
    border: 0;
    background-color: $mixed-300;
    padding: 0.3em;
    font-weight: bold;
    cursor: pointer;
}
button:hover {
    background-color: $mixed-400;
}
button:active {
    background-color: $mixed-300;
}

.no-spin {
    -moz-appearance: textfield;
    appearance: textfield;
    background-color: $mixed-200;
    text-align: center;
    border: none;

    ::-webkit-outer-spin-button, ::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 1em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $mixed-600;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 0.75em;
    width: 0.75em;
    left: 0.125em;
    bottom: 0.125em;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .slider {
    background-color: $primary-300;
}

input:focus + .slider {
    box-shadow: 0 0 1px $primary-300;
}

input:checked + .slider:before {
    -webkit-transform: translateX(1em);
    -ms-transform: translateX(1em);
    transform: translateX(1em);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
} 

.builder-select {
    background-color: $mixed-300;
    border: 0;
    border-radius: 5px;
    padding: 0.3em;
}

/* ~~~~~~~~~~~ NAV BAR  ~~~~~~~~~~~ */
/* ~~~~~~~~~~~ NAV BAR  ~~~~~~~~~~~ */
/* ~~~~~~~~~~~ NAV BAR  ~~~~~~~~~~~ */
#nav-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;

    #home-button {
        position: absolute;
        top: 0;
        left: 0;
        font-weight: normal;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 0 0.3em;
        text-decoration: none;
    }

    #title-bar {
        font-size: $font-bigish;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#nav-bar {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 0px;
    border-radius: 10px;
    background-color: $mixed-200;
    z-index: 1;

    .nav-button {
        font-size: $font-big;
        text-decoration: none;
    }

    .disabled {
        color: $mixed-600;
        pointer-events: none;
    }
}

#nav-left {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    &-button {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -2;
        height: 100%;
        i {
            font-size: $font-huge;
        }
        text-decoration: none;
    }
}

#nav-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    &-button {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -2;
        height: 100%;
        i {
            font-size: $font-huge;
        }
        text-decoration: none;
    }
}

/* ~~~~~~~~~~~ BUILDER  ~~~~~~~~~~~ */
/* ~~~~~~~~~~~ BUILDER  ~~~~~~~~~~~ */
/* ~~~~~~~~~~~ BUILDER  ~~~~~~~~~~~ */

.inactive {
    display: none;
}

.builder {
    position: absolute;
    top: calc(10% + 0.30em);
    left: calc(33% / 2);
    height: calc(90% - 0.30em);
    width: 66%;
    border: 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: $mixed-200;
    padding: 0.3em;
}

#builder-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    #sources {
        width: 50%;
        height: 100%;
    }

    #options-rules {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        #options {
            width: 100%;
            flex: 0 1 20%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            #dice-rolling {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 0.3em;

                #dice-rolling-content {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    #dice-rolling-desc {
                        margin-right: 0.3em;
                    }
                }
            }

            #scores-display {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 0.3em;

                &-content {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    img {
                        height: 5em;
                        width: calc(5em * .71)
                    }
                    select {
                        height: 2em;
                        text-align: center;
                    }
                }
            }
        }

        #rules {
            width: 100%;
            flex: 1 1 80%;

            .rules-content {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-bottom: 0.3em;
                div {
                    margin-right: 0.3em;
                }
                select {
                    height: 2em;
                    text-align: center;
                }
            }
        }
    }
}