@use "universal";

@font-face {font-family: "remixicon";
    src: url('../fonts/remixicon.eot?t=1690730386070'); /* IE9*/
    src: url('../fonts/remixicon.eot?t=1690730386070#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url("../fonts/remixicon.woff2?t=1690730386070") format("woff2"),
    url("../fonts/remixicon.woff?t=1690730386070") format("woff"),
    url('../fonts/remixicon.ttf?t=1690730386070') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../fonts/remixicon.svg?t=1690730386070#remixicon') format('svg'); /* iOS 4.1- */
}

.eye-checkbox {
    display: none;
}
.eye-checkbox-label:before {
    font-style: normal;
    font-family: 'remixicon';
    content: "\ecb2";
}
.eye-checkbox-label:hover {
    font-weight: bold;
}
input[type=checkbox]:checked + .eye-checkbox-label:before {
    font-style: normal;
    font-family: 'remixicon';
    content: "\ecb4";
}

.note {
    font-size: universal.$font-small;
    font-style: italic;
    margin-top: 0.6em;
}

#explorer {
    position: absolute;
    top: 5%;
    left: 0;
    width: 20%;
    height: 95%;
    #explorer-main {
        display: flex;
        flex-direction: column;
        background-color: universal.$mixed-100;
        padding: 0;
    
        .explorer-button {
            font-weight: normal;
            display: flex;
            justify-content: left;
            align-items: center;
            cursor: pointer;
            text-decoration: none;
            font-size: universal.$font-big;
            padding: 0.3em;
            background-color: universal.$mixed-300;
            border-radius: 5px;
            margin-top: 0.3em;
    
            i {
                font-size: inherit;
                margin-right: 0.2em;
            }
        }
        .explorer-button:hover {
            background-color: universal.$mixed-400;
            //padding-left: 0.6em;
        }
        .explorer-button:active {
            background-color: universal.$mixed-300;
        }
    
        #worlds-button {
            margin-bottom: 0.3em;
        }
    
        hr {
            border-color: universal.$mixed-400;
        }

        #explorer-list-universal, #explorer-list-world, #explorer-help {
            border: 0px;
            border-radius: 10px;
            background-color: universal.$mixed-200;
            padding: 0.6em;
        }

        #explorer-list-world {
            margin-top: 0.3em;
            flex: 1 1 0;
            padding: 0.3em;
            overflow-y: auto;
            &-buttons {
                overflow-y: auto;
            }
        }
    
        #explorer-help {
            margin-top: 0.3em;
            #settings-button {
                margin: 0;
            }
        }
    }
}

#menu {
    position: absolute;
    top: 5%;
    left: 20%;
    width: 80%;
    height: 95%;
    padding-left: 0;
    max-height: 95%;

    #builder {
        background-color: universal.$mixed-100;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-header {
            flex: 0 1 0;
            border: 0px;
            border-radius: 10px;
            background-color: universal.$mixed-200;
            padding: 0.3em;
            margin-bottom: 0.3em;
        }

        &-content {
            flex: 1 1 auto;
            display: flex;
            flex-direction: row;
            overflow-y: hidden;

            &-list, &-main {
                border: 0px;
                border-radius: 10px;
                background-color: universal.$mixed-200;
                padding: 0.3em;
                height: 100%;
            }

            &-list {
                margin-right: 0.3em;
                flex: 1 1 20%;
            }

            &-main {
                flex: 1 1 80%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                &-header {
                    flex: 0 1 auto;
                    margin-bottom: 0.3em;
                }
                &-display {
                    flex: 1 1 auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    &-builder {
                        flex: 1 1 0;
                        padding: 0.3em;
                        overflow-y: auto;
                        display: flex;
                        flex-direction: column;
                        .pair {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            margin-top: 0.6em;

                            input[type=text] {
                                background-color: universal.$mixed-300;
                                border: none;
                                border-radius: 5px;
                                padding: 0.3em;
                                width: 100%;
                            }
                            input[type=text]:focus {
                                outline: none;
                                background-color: universal.$mixed-400;
                            }

                            textarea {
                                width: 100%;
                                height: 4em;
                                min-height: 4em;
                                max-height: 20em;
                                resize: vertical;
                            }
                            label {
                                font-style: italic;
                                padding: 0.3em 0.3em 0 0.3em;
                            }

                            .select-box {
                                width: 100%;
                                display: flex;
                                flex-direction: row;
                                justify-content: flex-start;
                                align-items: center;

                                .select {
                                    position: relative;
                                    flex: 1 0 auto;
                                    margin-right: 0.3em;

                                    select {
                                        display: none;
                                    }
                                }
                                .select-selected {
                                    background-color: universal.$mixed-300;
                                    border: none;
                                    border-radius: 5px;
                                }
                                /* Style the arrow inside the select element: */
                                .select-selected:after {
                                    position: absolute;
                                    content: "";
                                    top: 14px;
                                    right: 10px;
                                    width: 0;
                                    height: 0;
                                    border: 6px solid transparent;
                                    border-color: #fff transparent transparent transparent;
                                }
                                
                                /* Point the arrow upwards when the select box is open (active): */
                                .select-selected.select-arrow-active:after {
                                    border-color: transparent transparent #fff transparent;
                                    top: 7px;
                                }
                                
                                /* style the items (options), including the selected item: */
                                .select-items div,.select-selected {
                                    color: #ffffff;
                                    padding: 8px 16px;
                                    border: 1px solid transparent;
                                    //border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
                                    cursor: pointer;
                                }
                                
                                /* Style items (options): */
                                .select-items {
                                    position: absolute;
                                    background-color: universal.$mixed-300;
                                    top: 100%;
                                    left: 0;
                                    right: 0;
                                    z-index: 99;
                                    border-radius: 5px;
                                }
                                
                                /* Hide the items when the select box is closed: */
                                .select-hide {
                                    display: none;
                                }
                                
                                .select-items div:hover, .same-as-selected {
                                    background-color: rgba(0, 0, 0, 0.1);
                                }
                            }

                            p {
                                color: #cacaca;
                                font-style: italic;
                                padding-left: 0.3em;
                            }

                            #builder-title {
                                font-size: universal.$font-big;
                            }
                            #builder-title-label {
                                font-size: universal.$font-bigish;
                                font-style: italic;
                                padding: 0 0.3em 0.3em 0.3em;
                            }
                        }

                        #builder-save-button {
                            align-self: center;
                            font-size: universal.$font-big;
                            border-radius: 5px;
                        }
                    }

                    &-preview {
                        flex: 1 1 0;
                        padding: 0.3em;
                        overflow-y: auto;
                        display: flex;
                        flex-direction: column;
                    }

                    &-switch {
                        flex: 0 1 0;
                        color: #cacaca;
                        font-weight: bold;
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        cursor: pointer;
                        margin-top: 0.3em;
                    }
                    &-switch:hover {
                        color: #fff;
                    }
                    &-switch:active {
                        color: #cacaca;
                    }
                }
            }
        }
    }
}

div[data-active='false'] {
    display: none !important;
}