$primary-100: #6720bd;
$primary-200: #7b3cc5;
$primary-300: #8e55cd;
$primary-400: #9f6dd5;
$primary-500: #b085dc;
$primary-600: #c19ce3;
$dark-100: #121212;
$dark-200: #282828;
$dark-300: #3f3f3f;
$dark-400: #575757;
$dark-500: #717171;
$dark-600: #8b8b8b;
$mixed-100: #1c1621;
$mixed-100-50: #1c1621a0;
$mixed-200: #312b36;
$mixed-300: #47424c;
$mixed-400: #5f5a63;
$mixed-500: #78737b;
$mixed-600: #918d94;

$font-tiny: 12px;
$font-small: 14px;
$font-norm: 16px;
$font-bigish: 24px;
$font-big: 32px;
$font-huge: 48px;

* {
    box-sizing: border-box;
    font-family:'Roboto Condensed', Roboto, Helvetica, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: $font-norm;
    //font-weight: bold;
}

body {
    background-color: $mixed-100;
}

.sheet-background {
    background-color: $mixed-100;
    padding: 0.3em;
}

.sheet-section {
    border: 0px;
    border-radius: 10px;
    background-color: $mixed-200;
    height: 100%;
    padding: 0.3em;
}

.small-header {
    color: #cacaca;
    font-size: $font-small;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.no-spin {
    -moz-appearance: textfield;
    appearance: textfield;
    background-color: $mixed-200;
    text-align: center;
    border: none;

    ::-webkit-outer-spin-button, ::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.hidden {
    display: none;
}

/* ~~~~~~~~~~~ NAV BAR  ~~~~~~~~~~~ */
/* ~~~~~~~~~~~ NAV BAR  ~~~~~~~~~~~ */
/* ~~~~~~~~~~~ NAV BAR  ~~~~~~~~~~~ */
#nav-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    #home-button {
        position: absolute;
        top: 0;
        left: 0;
        font-weight: normal;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 0 0.3em;
        text-decoration: none;
    }

    #title-bar {
        font-size: $font-bigish;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#explorer {
    position: absolute;
    top: 5%;
    left: 0;
    width: 20%;
    height: 95%;
    #explorer-main {
        display: flex;
        flex-direction: column;
    
        .explorer-button {
            font-weight: normal;
            display: flex;
            justify-content: left;
            align-items: center;
            cursor: pointer;
            text-decoration: none;
            font-size: $font-big;
            padding: 0.3em;
            background-color: $mixed-300;
            border-radius: 5px;
            margin: 0.3em 0.3em 0 0.3em;
    
            i {
                font-size: inherit;
                margin-right: 0.2em;
            }
        }
        .explorer-button:hover {
            background-color: $mixed-400;
            //padding-left: 0.6em;
        }
        .explorer-button:active {
            background-color: $mixed-300;
        }
    
        #worlds-button {
            margin-bottom: 0.3em;
        }
    
        hr {
            border-color: $mixed-400;
        }
    
        #explorer-help {
            margin-bottom: 0.6em;
            margin-top: auto;
        }
    }
}

#menu {
    position: absolute;
    top: 5%;
    left: 20%;
    width: 80%;
    height: 95%;
    padding-left: 0;
}