@use "universal";

@font-face {font-family: "remixicon";
    src: url('../fonts/remixicon.eot?t=1690730386070'); /* IE9*/
    src: url('../fonts/remixicon.eot?t=1690730386070#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url("../fonts/remixicon.woff2?t=1690730386070") format("woff2"),
    url("../fonts/remixicon.woff?t=1690730386070") format("woff"),
    url('../fonts/remixicon.ttf?t=1690730386070') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../fonts/remixicon.svg?t=1690730386070#remixicon') format('svg'); /* iOS 4.1- */
}


.eye-checkbox {
    display: none;
}
.eye-checkbox-label:before {
    font-style: normal;
    font-family: 'remixicon';
    content: "\ecb2";
}
.eye-checkbox-label:hover {
    font-weight: bold;
}
input[type=checkbox]:checked + .eye-checkbox-label:before {
    font-style: normal;
    font-family: 'remixicon';
    content: "\ecb4";
}

#builder-checkbox-link {
    font-size: universal.$font-bigish;
    font-style: normal !important;
}
.link-checkbox {
    display: none;
}
.link-checkbox-label:before {
    font-size: universal.$font-bigish;
    font-style: normal;
    font-family: 'remixicon';
    content: "\eb7f";
}
.link-checkbox-label:hover {
    font-weight: bold;
}
input[type=checkbox]:checked + .link-checkbox-label:before {
    font-style: normal;
    font-family: 'remixicon';
    content: "\eb82";
}

.note {
    font-size: universal.$font-small;
    font-style: italic;
    margin-top: 0.6em;
}

#explorer {
    position: absolute;
    top: 5%;
    left: 0;
    width: 15%;
    height: 95%;
    #explorer-main {
        display: flex;
        flex-direction: column;
        background-color: universal.$mixed-100;
        padding: 0;
    
        .explorer-button {
            font-weight: normal;
            display: flex;
            justify-content: left;
            align-items: center;
            cursor: pointer;
            text-decoration: none;
            font-size: universal.$font-big;
            padding: 0.3em;
            background-color: universal.$mixed-300;
            border-radius: 5px;
            margin-top: 0.3em;
    
            i {
                font-size: inherit;
                margin-right: 0.2em;
            }
        }
        .explorer-button:hover {
            background-color: universal.$mixed-400;
            //padding-left: 0.6em;
        }
        .explorer-button:active {
            background-color: universal.$primary-200;
        }

        .current-page {
            background-color: universal.$primary-200;
        }
        .current-page:hover {
            background-color: universal.$primary-300;
        }
        .current-page:active {
            background-color: universal.$primary-200;
        }
    
        hr {
            border-color: universal.$mixed-400;
        }

        #explorer-list-universal, #explorer-list-world, #explorer-help {
            border: 0px;
            border-radius: 10px;
            background-color: universal.$mixed-200;
            padding: 0.6em;
        }

        #explorer-list-world {
            margin-top: 0.3em;
            flex: 1 1 0;
            padding: 0.6em;
            overflow-y: auto;
            
            &-buttons {
                overflow-y: auto;
            }
        }
        #explorer-list-world[data-explorer-active=false] {
            #explorer-list-world-buttons {
                display:none;
            }
        }
    
        #explorer-help {
            margin-top: 0.3em;
            #settings-button {
                margin: 0;
            }
        }
    }
}

#menu {
    position: absolute;
    top: 5%;
    left: 15%;
    width: 85%;
    height: 95%;
    padding-left: 0;
    max-height: 95%;

    .sheet-section {
        background-color: universal.$mixed-100;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .quill-header {
            flex: 0 1 0;
            border: 0px;
            border-radius: 10px;
            background-color: universal.$mixed-200;
            padding: 0.3em;
            margin-bottom: 0.3em;
        }

        .content {
            flex: 1 1 0;
            display: flex;
            flex-direction: column;
            background-color: transparent;
            border-radius: 10px;
            overflow-y: auto;

            .content-section {
                flex: 1 1 0;
                border-radius: 10px;
                background-color: universal.$mixed-200;
                padding: 0.3em;
            }
        }
    }

    #builder {
        background-color: universal.$mixed-100;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-header {
            flex: 0 1 0;
            border: 0px;
            border-radius: 10px;
            background-color: universal.$mixed-200;
            padding: 0.3em;
            margin-bottom: 0.3em;
        }

        &-content {
            flex: 1 1 auto;
            display: flex;
            flex-direction: row;
            overflow-y: hidden;
            background-color: transparent;

            &-list, &-main {
                border: 0px;
                border-radius: 10px;
                background-color: universal.$mixed-200;
                padding: 0.3em;
                height: 100%;
            }

            &-list {
                margin-right: 0.3em;
                flex: 1 1 20%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                overflow-x: hidden;

                &-list {
                    flex: 1 1 0;
                    padding: 0.3em;
                    overflow-y: auto;
                    display: flex;
                    flex-direction: column;
                    margin: 0.3em 0;
                }

                .builder-list-folder {
                    width: 100%;
                    margin-bottom: 0.3em;

                    .builder-list-folder-label {
                        position: relative;
                        display: block;
                        background-color: universal.$mixed-300;
                        padding: 0.3em 0.3em 0.3em 0.3em;
                        border-radius: 5px;
                        width: 100%;
                        cursor: pointer;
                        user-select: none;
    
                        i {
                            font-size: inherit;
                        }
                    }
                    .builder-list-folder-label:hover {
                        background-color: universal.$mixed-400;
                    }
                    .builder-list-folder-label:active {
                        background-color: universal.$primary-200;
                    }
                    .builder-list-folder-label:after {
                        position: absolute;
                        content: "";
                        top: calc(50% - 2.5px);
                        right: 10px;
                        width: 0;
                        height: 0;
                        border: 6px solid transparent;
                        border-color: #fff transparent transparent transparent;
                    }
                    .builder-list-folder-toggle {
                        display: none;
                    }
                    .builder-list-folder-toggle:checked + .builder-list-folder-label:after {
                        border-color: transparent transparent #fff transparent;
                        top: calc(25% - 2.5px);
                    }
                    .builder-list-folder-toggle:checked + .builder-list-folder-label {
                        background-color: universal.$primary-200;
                    }
                    .builder-list-folder-toggle:checked + .builder-list-folder-label:hover {
                        background-color: universal.$primary-300;
                    }
                    .builder-list-folder-toggle:checked + .builder-list-folder-label:active {
                        background-color: universal.$primary-200;
                    }
                    .builder-list-items {
                        display: none;
                        padding: 0.3em 0.9em 0em 0.3em;

                        .builder-list-item {
                            background-color: universal.$mixed-300;
                            padding: 0.3em;
                            margin-bottom: 0.3em;
                            border-radius: 5px;
                            cursor: pointer;
                            user-select: none;
                            overflow-x: hidden;
                        }
                        .builder-list-item:last-of-type {
                            margin-bottom: 0;
                        }
                        .builder-list-item:hover {
                            background-color: universal.$mixed-400;
                        }
                        .builder-list-item:active {
                            background-color: universal.$primary-200;
                        }
                    }
                    .builder-list-folder-toggle:checked + .builder-list-folder-label + .builder-list-items {
                        display: block;
                    }
                }

                button {
                    font-weight: normal;
                    border-radius: 5px;
                }
            }

            &-main {
                flex: 1 1 80%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                &-header {
                    flex: 0 1 auto;
                    margin-bottom: 0.3em;
                }
                &-display {
                    flex: 1 1 auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    &-quick-access {
                        flex: 1 1 0;
                        padding: 0.3em;
                        overflow-y: auto;
                        display: flex;
                        flex-direction: column;

                        &-desc {
                            flex: 0 1 0;
                            text-align: center;
                            font-size: universal.$font-big;
                        }
                        
                        &-buttons {
                            flex: 1 1 0;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            justify-content: center;
                            align-items: flex-start;
                            padding: 0.6em;

                            .builder-choose-button {
                                height: max-content;
                                display: flex;
                                flex-direction: column;
                                background-color: universal.$mixed-300;
                                padding: 0.3em;
                                font-size: universal.$font-big;
                                border-radius: 5px;
                                margin: 0.15em;
                                width: 15%;
                                min-height: 4.5em;

                                &-icon {
                                    flex: 1 0 auto;
                                    font-size: universal.$font-huge;
                                    text-align: center;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    i {
                                        font-size: inherit;
                                    }
                                }
    
                                &-text {
                                    flex: 1 0 0;
                                    font-size: universal.$font-bigish;
                                    text-align: center;
                                }
                            }
                            .builder-choose-button:hover {
                                background-color: universal.$mixed-400;
                            }
                            .builder-choose-button:active {
                                background-color: universal.$primary-200;
                            }
                        }

                        &-blank {
                            flex: 1 0 0;
                        }
                    }

                    &-builder {
                        flex: 1 1 0;
                        padding: 0.3em;
                        overflow-y: auto;
                        display: flex;
                        flex-direction: column;
                        .pair {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            margin-top: 0.6em;

                            input[type=text] {
                                background-color: universal.$mixed-300;
                                border: none;
                                border-radius: 5px;
                                padding: 0.3em;
                                width: 100%;
                            }
                            input[type=text]:focus {
                                outline: none;
                                background-color: universal.$mixed-400;
                            }

                            textarea {
                                width: 100%;
                                height: 4em;
                                min-height: 4em;
                                max-height: 20em;
                                resize: vertical;
                            }
                            label {
                                font-style: italic;
                                padding: 0.3em 0.3em 0 0.3em;
                            }

                            .select-box {
                                width: 100%;
                                display: flex;
                                flex-direction: row;
                                justify-content: flex-start;
                                align-items: center;

                                .select {
                                    position: relative;
                                    flex: 1 0 auto;
                                    margin-right: 0.3em;

                                    select {
                                        display: none;
                                    }
                                }
                                .select-selected {
                                    background-color: universal.$mixed-300;
                                    border: none;
                                    border-radius: 5px;
                                }
                                /* Style the arrow inside the select element: */
                                .select-selected:after {
                                    position: absolute;
                                    content: "";
                                    top: 14px;
                                    right: 10px;
                                    width: 0;
                                    height: 0;
                                    border: 6px solid transparent;
                                    border-color: #fff transparent transparent transparent;
                                }
                                .select-selected[data-count='0'] {
                                    color: #cacaca;
                                    font-style: italic;
                                    text-decoration: line-through;
                                }
                                
                                /* Point the arrow upwards when the select box is open (active): */
                                .select-selected.select-arrow-active:after {
                                    border-color: transparent transparent #fff transparent;
                                    top: 7px;
                                }
                                
                                /* style the items (options), including the selected item: */
                                .select-items div,.select-selected {
                                    color: #ffffff;
                                    padding: 8px 16px;
                                    border: 1px solid transparent;
                                    //border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
                                    cursor: pointer;
                                }
                                
                                /* Style items (options): */
                                .select-items {
                                    position: absolute;
                                    background-color: universal.$mixed-300;
                                    top: 100%;
                                    left: 0;
                                    right: 0;
                                    z-index: 99;
                                    border-radius: 5px;
                                }
                                
                                /* Hide the items when the select box is closed: */
                                .select-hide {
                                    display: none;
                                }
                                
                                .select-items div:hover, .same-as-selected {
                                    background-color: rgba(0, 0, 0, 0.1);
                                }
                            }

                            div.radio {
                                width: 100%;
                                display: grid;
                                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                                grid-template-rows: auto;
                                column-gap: 0.3em;
                                row-gap: 0.3em;

                                input[type='radio'] {
                                    display: none;
                                }
                                label {
                                    font-style: normal;
                                    padding: 0.6em;
                                    background-color: universal.$mixed-300;
                                    border-radius: 5px;
                                    text-align: center;
                                    font-size: universal.$font-bigish;
                                }
                                label:hover {
                                    background-color: universal.$mixed-400;
                                }
                                label:active {
                                    background-color: universal.$primary-200;
                                }
                                input[type='radio']:checked + label {
                                    background-color: universal.$mixed-400;
                                }
                            }

                            p {
                                color: #cacaca;
                                font-style: italic;
                                padding: 0.3em;
                            }

                            #builder-title {
                                font-size: universal.$font-big;
                            }
                            #builder-title-label {
                                font-size: universal.$font-bigish;
                                font-style: italic;
                                padding: 0 0.3em 0.3em 0.3em;
                            }
                        }

                        .builder-save-button {
                            align-self: center;
                            font-size: universal.$font-big;
                            border-radius: 5px;
                            padding: 0.3em 0.6em 0.3em 0.6em;
                            border: 0;
                            background-color: universal.$mixed-300;
                            font-weight: bold;
                            cursor: pointer;
                        }
                        .builder-save-button:hover {
                            background-color: universal.$mixed-400;
                        }
                        .builder-save-button:active {
                            background-color: universal.$primary-200;
                        }
                        .builder-save-button:first-of-type {
                            margin-top: 0.3em;
                        }
                    }

                    &-preview {
                        flex: 1 1 0;
                        padding: 0.3em;
                        overflow-y: auto;
                        display: flex;
                        flex-direction: column;
                    }

                    &-switch {
                        flex: 0 1 0;
                        color: #cacaca;
                        font-weight: bold;
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        cursor: pointer;
                        margin-top: 0.3em;
                        user-select: none;
                    }
                    &-switch:hover {
                        color: #fff;
                    }
                    &-switch:active {
                        color: universal.$primary-200;
                    }
                }
            }
        }
    }
}

#popup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;

    #popup-box {
        padding: 0.6em;
        font-size: universal.$font-bigish;
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        * {
            font-size: inherit;
        }

        #popup-header {
            margin-bottom: 0.3em;
        }

        #popup-button {
            margin-top: 0.3em;
            width: 50%;
        }
    }
}
#popup[data-popup=true] {
    display: flex;
    justify-content: center;
    align-items: center;
}

div[data-active='false'], div[data-active-builder='false'] {
    display: none !important;
}

form[data-active-builder='false'] {
    display: none !important;
}