@use "universal";

@font-face {font-family: "remixicon";
    src: url('../fonts/remixicon.eot?t=1690730386070'); /* IE9*/
    src: url('../fonts/remixicon.eot?t=1690730386070#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url("../fonts/remixicon.woff2?t=1690730386070") format("woff2"),
    url("../fonts/remixicon.woff?t=1690730386070") format("woff"),
    url('../fonts/remixicon.ttf?t=1690730386070') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../fonts/remixicon.svg?t=1690730386070#remixicon') format('svg'); /* iOS 4.1- */
}

#popup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;

    #popup-box {
        padding: 0.6em;
        font-size: universal.$font-bigish;
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        * {
            font-size: inherit;
        }

        #popup-header {
            font-size: universal.$font-big;
        }

        label {
            margin-top: 0.3em;
        }

        input[type=text] {
            text-align: center;
        }

        input[type=submit] {
            margin-top: 0.6em;
        }
    }
}
#popup[data-active=true] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-header {
    flex: 0 1 0;
    border: 0px;
    border-radius: 10px;
    background-color: universal.$mixed-200;
    padding: 0.3em;
    margin-bottom: 0.3em;
    color: #cacaca;
    font-size: universal.$font-small;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

#explorer {
    position: absolute;
    top: 5%;
    left: 0;
    width: 20%;
    height: 95%;
    display: flex;
    flex-direction: column;
    padding-right: 0.15em;

    .small-header {
        margin-bottom: 0.3em;
    }

    .explorer-section {
        border-radius: 10px;
        background-color: universal.$mixed-200;
        padding: 0.6em;
        margin-bottom: 0.3em;
        flex: 0 1 0;
        display: flex;
        flex-direction: column;

        .explorer-buttons {
            flex: 1 1 auto;
            overflow-y: auto;

            .explorer-button {
                display: flex;
                justify-content: left;
                align-items: center;
                cursor: pointer;
                text-decoration: none;
                font-size: universal.$font-big;
                padding: 0.3em;
                background-color: universal.$mixed-300;
                border-radius: 5px;
                margin-bottom: 0.3em;

                i {
                    font-size: inherit;
                    margin-right: 0.2em;
                }
            }
            .explorer-button:hover {
                background-color: universal.$mixed-400;
            }
            .explorer-button:active {
                background-color: universal.$primary-200;
            }
            .explorer-button:last-of-type {
                margin-bottom: 0;
            }

            .current-page {
                background-color: universal.$primary-200;
            }
            .current-page:hover {
                background-color: universal.$primary-300;
            }
            .current-page:active {
                background-color: universal.$primary-200;
            }
        }
    }

    #explorer-world {
        flex: 1 1 0;
        .explorer-buttons {
            flex: 1 1 0;
        }
    }
    #explorer-world[data-active=false] {
        .explorer-buttons {
            display: none;
        }
    }
    
    .explorer-section:last-of-type {
        margin-bottom: 0;
    }
}

#menu {
    position: absolute;
    top: 5%;
    left: 20%;
    width: 80%;
    height: 95%;
    padding-left: 0.15em;
    max-height: 95%;

    .menu {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .content {
            flex: 1 1 0;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            background-color: universal.$mixed-200;
            border-radius: 10px;
            padding: 0.3em;

            *[data-active=false] {
                display: none;
            }
        }
    }

    #worlds {
        .content {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            overflow-y: hidden;

            .worlds {
                flex: 1 1 100%;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                flex-wrap: wrap;
                overflow-y: auto;
    
                .world-box {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    background-color: universal.$mixed-300;
                    width: fit-content;
                    min-width: 23%;
                    min-height: 30%;
                    max-width: 23%;
                    max-height: 30%;
                    border-radius: 5px;
                    cursor: pointer;
                    user-select: none;
    
                    &-image {
                        width: 100%;
                        border-radius: 5px 5px 0 0;
                        overflow: hidden;
                        position: relative;
                        pointer-events: none;
                        flex: 1 1 100%;
    
                        .image {
                            width: 100%;
                            height: auto;
                            display: block;
                            position: relative;
                            top: 50%;
                            transform: scale(1, 1) translateY(-50%);
                            transition: transform 0.5s;
                        }
                        i.image {
                            text-align: center;
                            font-size: 10em;
                        }
                    }
                    
                    &-footer {
                        width: 100%;
                        padding: 0.3em;
                        pointer-events: none;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
    
                        &-name {
                            font-size: universal.$font-bigish;
                            i {
                                font-size: inherit;
                            }
                        }
                    }
                }
                .world-box:hover {
                    background-color: universal.$mixed-400;
    
                    .world-box-image {
                        .image {
                            transform: scale(1.2, 1.2) translateY(-40%);
                        }
                    }
                }
                .world-box:active {
                    background-color: universal.$primary-300;
                    .world-box-image {
                        .image {
                            transform: scale(1, 1) translateY(-50%);
                        }
                    }
                }
                .world-box:last-of-type {
                    margin-right: 0;
                }
            }

            #create-world {
                width: 100%;
            }
        }
    }

    #pages {
        .content {
            background-color: universal.$mixed-100;
            flex-direction: row;
            padding: 0;
            
            #pages-home {
                margin-right: 0.3em;
                height: 100%;
                display: flex;

                &-main, &-index {
                    border-radius: 10px;
                    background-color: universal.$mixed-200;
                    padding: 0.3em;
                    height: 100%;
                }

                &-main {
                    flex: 1 1 80%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;

                    div {
                        text-align: center;
                    }

                    .title {
                        font-size: universal.$font-huge;
                        font-weight: bold;
                        margin-bottom: 0.3em;
                    }

                    .quote {
                        font-size: universal.$font-bigish;
                        margin-top: 0.6em;
                        margin-bottom: 0.6em;
                        width: 100%;
                        border-top: 1px solid universal.$mixed-500;
                        border-bottom: 1px solid universal.$mixed-500;
                        padding: 0.6em 0;
                        font-style: italic;
                    }

                    .image {
                        border-radius: 5px;
                        overflow: hidden;
                        position: relative;
                        width: 80%;
                        max-height: 30%;

                        img {
                            width: 100%;
                            height: auto;
                            display: block;
                            position: relative;
                            top: 50%;
                            transform: scale(1, 1) translateY(-50%);
                            transition: transform 0.5s;
                        }
                    }

                    .desc {
                        margin-bottom: 0.3em;
                    }
                }

                &-index {
                    flex: 1 1 20%;
                }
            }

            #pages-page {
                width: 100%;
                height: 100%;
                display: flex;

                &-main, &-sidebar {
                    border-radius: 10px;
                    background-color: universal.$mixed-200;
                    padding: 0.3em;
                    height: 100%;
                }

                &-main {
                    margin-right: 0.3em;
                    flex: 1 1 80%;
                }

                &-sidebar {
                    flex: 1 1 20%;
                    max-width: 20%;
                }
            }

            .page[data-active=false] {
                display: none !important;
            }
        }
    }

    #builder {
        .content {
            background-color: universal.$mixed-100;
            flex-direction: row;
            padding: 0;

            #builder-list, #builder-main {
                border-radius: 10px;
                background-color: universal.$mixed-200;
                padding: 0.3em;
                height: 100%;
            }

            #builder-list {
                margin-right: 0.3em;
                flex: 1 1 20%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                overflow: hidden;

                &-display {
                    flex: 1 1 0;
                    padding: 0.3em;
                    overflow-y: auto;
                    display: flex;
                    flex-direction: column;
                    margin: 0.3em 0;

                    .folder {
                        width: 100%;
                        margin-bottom: 0.3em;

                        .folder-label {
                            position: relative;
                            display: block;
                            background-color: universal.$mixed-300;
                            padding: 0.3em 0.3em 0.3em 0.3em;
                            border-radius: 5px;
                            width: 100%;
                            cursor: pointer;
                            user-select: none;
        
                            i {
                                font-size: inherit;
                            }
                        }
                        .folder-label:hover {
                            background-color: universal.$mixed-400;
                        }
                        .folder-label:active {
                            background-color: universal.$primary-200;
                        }
                        .folder-label:after {
                            position: absolute;
                            content: "";
                            top: calc(50% - 2.5px);
                            right: 10px;
                            width: 0;
                            height: 0;
                            border: 6px solid transparent;
                            border-color: #fff transparent transparent transparent;
                        }
                        .folder-toggle {
                            display: none;
                        }
                        .folder-toggle:checked + .folder-label:after {
                            border-color: transparent transparent #fff transparent;
                            top: calc(25% - 2.5px);
                        }
                        .folder-toggle:checked + .folder-label {
                            background-color: universal.$primary-200;
                        }
                        .folder-toggle:checked + .folder-label:hover {
                            background-color: universal.$primary-300;
                        }
                        .folder-toggle:checked + .folder-label:active {
                            background-color: universal.$primary-200;
                        }
                        .items {
                            display: none;
                            padding: 0.3em 0.9em 0em 0.3em;
    
                            .item {
                                background-color: universal.$mixed-300;
                                padding: 0.3em;
                                margin-bottom: 0.3em;
                                border-radius: 5px;
                                cursor: pointer;
                                user-select: none;
                                overflow-x: hidden;
                            }
                            .item:last-of-type {
                                margin-bottom: 0;
                            }
                            .item:hover {
                                background-color: universal.$mixed-400;
                            }
                            .item:active {
                                background-color: universal.$primary-200;
                            }
                        }
                        .folder-toggle:checked + .folder-label + .items {
                            display: block;
                        }
                    }
                }

                button {
                    font-weight: normal;
                    border-radius: 5px;
                }
            }

            #builder-main {
                flex: 1 1 80%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                .small-header {
                    flex: 0 1 auto;
                    margin-bottom: 0.3em;
                }

                [data-active=false] {
                    display: none;
                }

                &-display {
                    flex: 1 1 auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    &-create {
                        flex: 1 1 0;
                        padding: 0.3em;
                        overflow-y: auto;
                        display: flex;
                        flex-direction: column;

                        .builder-desc {
                            flex: 0 1 0;
                            text-align: center;
                            font-size: universal.$font-big;
                        }

                        &-buttons {
                            flex: 1 1 0;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            justify-content: center;
                            align-items: flex-start;
                            padding: 0.6em;

                            .object-button {
                                height: max-content;
                                display: flex;
                                flex-direction: column;
                                background-color: universal.$mixed-300;
                                padding: 0.3em;
                                font-size: universal.$font-big;
                                border-radius: 5px;
                                margin: 0.15em;
                                width: 15%;
                                min-height: 4.5em;

                                .icon {
                                    flex: 1 0 auto;
                                    font-size: universal.$font-huge;
                                    text-align: center;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    pointer-events: none;
                                    i {
                                        pointer-events: none;
                                        font-size: inherit;
                                    }
                                }
    
                                .text {
                                    flex: 1 0 0;
                                    font-size: universal.$font-bigish;
                                    text-align: center;
                                    pointer-events: none;
                                }
                            }
                            .object-button:hover {
                                background-color: universal.$mixed-400;
                            }
                            .object-button:active {
                                background-color: universal.$primary-200;
                            }
                        }

                        .blank-fill {
                            flex: 1 0 0;
                        }
                    }

                    &-form {
                        flex: 1 1 0;
                        padding: 0.3em;
                        overflow-y: auto;
                        display: flex;
                        flex-direction: column;

                        .note {
                            font-size: universal.$font-small;
                            font-style: italic;
                            margin-top: 0.6em;
                        }

                        .eye-checkbox {
                            display: none;
                        }
                        .eye-checkbox-label:before {
                            font-style: normal;
                            font-family: 'remixicon';
                            content: "\ecb2";
                        }
                        .eye-checkbox-label:hover {
                            font-weight: bold;
                        }
                        input[type=checkbox]:checked + .eye-checkbox-label:before {
                            font-style: normal;
                            font-family: 'remixicon';
                            content: "\ecb4";
                        }
                        
                        #builder-checkbox-link {
                            font-size: universal.$font-bigish;
                            font-style: normal !important;
                        }
                        .link-checkbox {
                            display: none;
                        }
                        .link-checkbox-label:before {
                            font-size: universal.$font-bigish;
                            font-style: normal;
                            font-family: 'remixicon';
                            content: "\eb7f";
                        }
                        .link-checkbox-label:hover {
                            font-weight: bold;
                        }
                        input[type=checkbox]:checked + .link-checkbox-label:before {
                            font-style: normal;
                            font-family: 'remixicon';
                            content: "\eb82";
                        }
                        
                        .container:has(#builder-checkbox-link) {
                            margin-top: 0;
                        }
                        .container {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            margin-top: 0.6em;

                            input[type=text] {
                                background-color: universal.$mixed-300;
                                border: none;
                                border-radius: 5px;
                                padding: 0.3em;
                                width: 100%;
                            }
                            input[type=text]:focus {
                                outline: none;
                                background-color: universal.$mixed-400;
                            }

                            textarea {
                                width: 100%;
                                height: 4em;
                                min-height: 4em;
                                max-height: 20em;
                                resize: vertical;
                            }
                            label {
                                font-style: italic;
                                padding: 0.3em 0.3em 0 0.3em;
                            }

                            .select-box {
                                width: 100%;
                                display: flex;
                                flex-direction: row;
                                justify-content: flex-start;
                                align-items: center;

                                select {
                                    flex: 1 1 100%;
                                    margin-right: 0.3em;
                                }
                                a {
                                    flex: 1 0 auto;
                                }
                            }

                            div.radio {
                                width: 100%;
                                display: grid;
                                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                                grid-template-rows: auto;
                                column-gap: 0.3em;
                                row-gap: 0.3em;

                                input[type='radio'] {
                                    display: none;
                                }
                                label {
                                    font-style: normal;
                                    padding: 0.6em;
                                    background-color: universal.$mixed-300;
                                    border-radius: 5px;
                                    text-align: center;
                                    font-size: universal.$font-bigish;
                                }
                                label:hover {
                                    background-color: universal.$mixed-400;
                                }
                                label:active {
                                    background-color: universal.$primary-200;
                                }
                                input[type='radio']:checked + label {
                                    background-color: universal.$mixed-400;
                                }
                            }

                            p {
                                color: #cacaca;
                                font-style: italic;
                                padding: 0.3em;
                            }

                            #builder-title-wrapper {
                                width: 100%;
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;

                                #builder-title {
                                    flex: 2 1 100%;
                                    margin-right: 0.15em;
                                    font-size: universal.$font-big;
                                }
                                .builder-save-button {
                                    flex: 1 1 0;
                                }
                            }
                            #builder-title-label {
                                font-size: universal.$font-bigish;
                                font-style: italic;
                                padding: 0 0.3em 0.3em 0.3em;
                            }
                            
                        }

                        .builder-save-button {
                            align-self: center;
                            font-size: universal.$font-big;
                            border-radius: 5px;
                            padding: 0.3em 0.6em 0.3em 0.6em;
                            border: 0;
                            background-color: universal.$mixed-300;
                            font-weight: bold;
                            cursor: pointer;
                        }
                        .builder-save-button:hover {
                            background-color: universal.$mixed-400;
                        }
                        .builder-save-button:active {
                            background-color: universal.$primary-200;
                        }
                        .builder-save-button:first-of-type {
                            margin-top: 0.3em;
                        }
                    }

                    &-preview {
                        flex: 1 1 0;
                        padding: 0.3em;
                        overflow-y: auto;
                        display: flex;
                        flex-direction: column;
                    }

                    &-switch {
                        flex: 0 1 0;
                        color: #cacaca;
                        font-weight: bold;
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        cursor: pointer;
                        margin-top: 0.3em;
                        user-select: none;
                    }
                    &-switch:hover {
                        color: #fff;
                    }
                    &-switch:active {
                        color: universal.$primary-200;
                    }
                }
            }
        }
    }

    .menu[data-active=false] {
        display: none;
    }
}