@import "tailwindcss";
@import "tw-animate-css";
@import "./radix-colors.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-*: initial;
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--mauve1);
    --color-foreground: var(--mauve12);
    --color-card: var(--mauve2);
    --color-card-foreground: var(--mauve12);
    --color-popover: var(--mauve2);
    --color-popover-foreground: var(--mauve12);
    --color-primary: var(--purple9);
    --color-primary-foreground: var(--purple12);
    --color-primary-hover: var(--purple10);
    --color-primary-foreground-hover: var(--purple11);
    --color-primary-active: var(--purple5);
    --color-secondary: var(--mauve3);
    --color-secondary-foreground: var(--mauve12);
    --color-secondary-hover: var(--mauve4);
    --color-secondary-foreground-hover: var(--mauve11);
    --color-secondary-active: var(--mauve5);
    --color-muted: var(--mauve3);
    --color-muted-foreground: var(--mauve11);
    --color-accent: var(--mauve3);
    --color-accent-foreground: var(--mauve11);
    --color-destructive: var(--red9);
    --color-destructive-foreground: var(--red12);
    --color-destructive-hover: var(--red10);
    --color-destructive-foreground-hover: var(--red11);
    --color-destructive-active: var(--red5);
    --color-border: var(--mauve7);
    --color-border-hover: var(--mauve8);
    --color-border-muted: var(--mauve6);
    --color-input: var(--mauve9);
    --color-ring: var(--mauve7);
    --color-chart-1: var(--tomato9);
    --color-chart-2: var(--red9);
    --color-chart-3: var(--pink9);
    --color-chart-4: var(--plum9);
    --color-chart-5: var(--violet9);
    --color-sidebar: var(--mauve3);
    --color-sidebar-foreground: var(--mauve12);
    --color-sidebar-primary: var(--purple9);
    --color-sidebar-primary-foreground: var(--purple12);
    --color-sidebar-accent: var(--mauve4);
    --color-sidebar-accent-foreground: var(--mauve11);
    --color-sidebar-border: var(--mauve7);
    --color-sidebar-ring: var(--mauve7);

    --color-mauve-app-bg: var(--mauve1);
    --color-mauve-subtle-bg: var(--mauve2);
    --color-mauve-ui-bg: var(--mauve3);
    --color-mauve-ui-hover: var(--mauve4);
    --color-mauve-ui-active: var(--mauve5);
    --color-mauve-subtle-border: var(--mauve6);
    --color-mauve-ui-border: var(--mauve7);
    --color-mauve-ui-border-hover: var(--mauve8);
    --color-mauve-solid-bg: var(--mauve9);
    --color-mauve-solid-hover: var(--mauve10);
    --color-mauve-text-low: var(--mauve11);
    --color-mauve-text-high: var(--mauve12);
    --color-alpha-mauve-app-bg: var(--mauve1a);
    --color-alpha-mauve-subtle-bg: var(--mauve2a);
    --color-alpha-mauve-ui-bg: var(--mauve3a);
    --color-alpha-mauve-ui-hover: var(--mauve4a);
    --color-alpha-mauve-ui-active: var(--mauve5a);
    --color-alpha-mauve-subtle-border: var(--mauve6a);
    --color-alpha-mauve-ui-border: var(--mauve7a);
    --color-alpha-mauve-ui-border-hover: var(--mauve8a);
    --color-alpha-mauve-solid-bg: var(--mauve9a);
    --color-alpha-mauve-solid-hover: var(--mauve10a);
    --color-alpha-mauve-text-low: var(--mauve11a);
    --color-alpha-mauve-text-high: var(--mauve12a);
    --color-tomato-app-bg: var(--tomato1);
    --color-tomato-subtle-bg: var(--tomato2);
    --color-tomato-ui-bg: var(--tomato3);
    --color-tomato-ui-hover: var(--tomato4);
    --color-tomato-ui-active: var(--tomato5);
    --color-tomato-subtle-border: var(--tomato6);
    --color-tomato-ui-border: var(--tomato7);
    --color-tomato-ui-border-hover: var(--tomato8);
    --color-tomato-solid-bg: var(--tomato9);
    --color-tomato-solid-hover: var(--tomato10);
    --color-tomato-text-low: var(--tomato11);
    --color-tomato-text-high: var(--tomato12);
    --color-alpha-tomato-app-bg: var(--tomato1a);
    --color-alpha-tomato-subtle-bg: var(--tomato2a);
    --color-alpha-tomato-ui-bg: var(--tomato3a);
    --color-alpha-tomato-ui-hover: var(--tomato4a);
    --color-alpha-tomato-ui-active: var(--tomato5a);
    --color-alpha-tomato-subtle-border: var(--tomato6a);
    --color-alpha-tomato-ui-border: var(--tomato7a);
    --color-alpha-tomato-ui-border-hover: var(--tomato8a);
    --color-alpha-tomato-solid-bg: var(--tomato9a);
    --color-alpha-tomato-solid-hover: var(--tomato10a);
    --color-alpha-tomato-text-low: var(--tomato11a);
    --color-alpha-tomato-text-high: var(--tomato12a);
    --color-red-app-bg: var(--red1);
    --color-red-subtle-bg: var(--red2);
    --color-red-ui-bg: var(--red3);
    --color-red-ui-hover: var(--red4);
    --color-red-ui-active: var(--red5);
    --color-red-subtle-border: var(--red6);
    --color-red-ui-border: var(--red7);
    --color-red-ui-border-hover: var(--red8);
    --color-red-solid-bg: var(--red9);
    --color-red-solid-hover: var(--red10);
    --color-red-text-low: var(--red11);
    --color-red-text-high: var(--red12);
    --color-alpha-red-app-bg: var(--red1a);
    --color-alpha-red-subtle-bg: var(--red2a);
    --color-alpha-red-ui-bg: var(--red3a);
    --color-alpha-red-ui-hover: var(--red4a);
    --color-alpha-red-ui-active: var(--red5a);
    --color-alpha-red-subtle-border: var(--red6a);
    --color-alpha-red-ui-border: var(--red7a);
    --color-alpha-red-ui-border-hover: var(--red8a);
    --color-alpha-red-solid-bg: var(--red9a);
    --color-alpha-red-solid-hover: var(--red10a);
    --color-alpha-red-text-low: var(--red11a);
    --color-alpha-red-text-high: var(--red12a);
    --color-ruby-app-bg: var(--ruby1);
    --color-ruby-subtle-bg: var(--ruby2);
    --color-ruby-ui-bg: var(--ruby3);
    --color-ruby-ui-hover: var(--ruby4);
    --color-ruby-ui-active: var(--ruby5);
    --color-ruby-subtle-border: var(--ruby6);
    --color-ruby-ui-border: var(--ruby7);
    --color-ruby-ui-border-hover: var(--ruby8);
    --color-ruby-solid-bg: var(--ruby9);
    --color-ruby-solid-hover: var(--ruby10);
    --color-ruby-text-low: var(--ruby11);
    --color-ruby-text-high: var(--ruby12);
    --color-alpha-ruby-app-bg: var(--ruby1a);
    --color-alpha-ruby-subtle-bg: var(--ruby2a);
    --color-alpha-ruby-ui-bg: var(--ruby3a);
    --color-alpha-ruby-ui-hover: var(--ruby4a);
    --color-alpha-ruby-ui-active: var(--ruby5a);
    --color-alpha-ruby-subtle-border: var(--ruby6a);
    --color-alpha-ruby-ui-border: var(--ruby7a);
    --color-alpha-ruby-ui-border-hover: var(--ruby8a);
    --color-alpha-ruby-solid-bg: var(--ruby9a);
    --color-alpha-ruby-solid-hover: var(--ruby10a);
    --color-alpha-ruby-text-low: var(--ruby11a);
    --color-alpha-ruby-text-high: var(--ruby12a);
    --color-crimson-app-bg: var(--crimson1);
    --color-crimson-subtle-bg: var(--crimson2);
    --color-crimson-ui-bg: var(--crimson3);
    --color-crimson-ui-hover: var(--crimson4);
    --color-crimson-ui-active: var(--crimson5);
    --color-crimson-subtle-border: var(--crimson6);
    --color-crimson-ui-border: var(--crimson7);
    --color-crimson-ui-border-hover: var(--crimson8);
    --color-crimson-solid-bg: var(--crimson9);
    --color-crimson-solid-hover: var(--crimson10);
    --color-crimson-text-low: var(--crimson11);
    --color-crimson-text-high: var(--crimson12);
    --color-alpha-crimson-app-bg: var(--crimson1a);
    --color-alpha-crimson-subtle-bg: var(--crimson2a);
    --color-alpha-crimson-ui-bg: var(--crimson3a);
    --color-alpha-crimson-ui-hover: var(--crimson4a);
    --color-alpha-crimson-ui-active: var(--crimson5a);
    --color-alpha-crimson-subtle-border: var(--crimson6a);
    --color-alpha-crimson-ui-border: var(--crimson7a);
    --color-alpha-crimson-ui-border-hover: var(--crimson8a);
    --color-alpha-crimson-solid-bg: var(--crimson9a);
    --color-alpha-crimson-solid-hover: var(--crimson10a);
    --color-alpha-crimson-text-low: var(--crimson11a);
    --color-alpha-crimson-text-high: var(--crimson12a);
    --color-pink-app-bg: var(--pink1);
    --color-pink-subtle-bg: var(--pink2);
    --color-pink-ui-bg: var(--pink3);
    --color-pink-ui-hover: var(--pink4);
    --color-pink-ui-active: var(--pink5);
    --color-pink-subtle-border: var(--pink6);
    --color-pink-ui-border: var(--pink7);
    --color-pink-ui-border-hover: var(--pink8);
    --color-pink-solid-bg: var(--pink9);
    --color-pink-solid-hover: var(--pink10);
    --color-pink-text-low: var(--pink11);
    --color-pink-text-high: var(--pink12);
    --color-alpha-pink-app-bg: var(--pink1a);
    --color-alpha-pink-subtle-bg: var(--pink2a);
    --color-alpha-pink-ui-bg: var(--pink3a);
    --color-alpha-pink-ui-hover: var(--pink4a);
    --color-alpha-pink-ui-active: var(--pink5a);
    --color-alpha-pink-subtle-border: var(--pink6a);
    --color-alpha-pink-ui-border: var(--pink7a);
    --color-alpha-pink-ui-border-hover: var(--pink8a);
    --color-alpha-pink-solid-bg: var(--pink9a);
    --color-alpha-pink-solid-hover: var(--pink10a);
    --color-alpha-pink-text-low: var(--pink11a);
    --color-alpha-pink-text-high: var(--pink12a);
    --color-plum-app-bg: var(--plum1);
    --color-plum-subtle-bg: var(--plum2);
    --color-plum-ui-bg: var(--plum3);
    --color-plum-ui-hover: var(--plum4);
    --color-plum-ui-active: var(--plum5);
    --color-plum-subtle-border: var(--plum6);
    --color-plum-ui-border: var(--plum7);
    --color-plum-ui-border-hover: var(--plum8);
    --color-plum-solid-bg: var(--plum9);
    --color-plum-solid-hover: var(--plum10);
    --color-plum-text-low: var(--plum11);
    --color-plum-text-high: var(--plum12);
    --color-alpha-plum-app-bg: var(--plum1a);
    --color-alpha-plum-subtle-bg: var(--plum2a);
    --color-alpha-plum-ui-bg: var(--plum3a);
    --color-alpha-plum-ui-hover: var(--plum4a);
    --color-alpha-plum-ui-active: var(--plum5a);
    --color-alpha-plum-subtle-border: var(--plum6a);
    --color-alpha-plum-ui-border: var(--plum7a);
    --color-alpha-plum-ui-border-hover: var(--plum8a);
    --color-alpha-plum-solid-bg: var(--plum9a);
    --color-alpha-plum-solid-hover: var(--plum10a);
    --color-alpha-plum-text-low: var(--plum11a);
    --color-alpha-plum-text-high: var(--plum12a);
    --color-purple-app-bg: var(--purple1);
    --color-purple-subtle-bg: var(--purple2);
    --color-purple-ui-bg: var(--purple3);
    --color-purple-ui-hover: var(--purple4);
    --color-purple-ui-active: var(--purple5);
    --color-purple-subtle-border: var(--purple6);
    --color-purple-ui-border: var(--purple7);
    --color-purple-ui-border-hover: var(--purple8);
    --color-purple-solid-bg: var(--purple9);
    --color-purple-solid-hover: var(--purple10);
    --color-purple-text-low: var(--purple11);
    --color-purple-text-high: var(--purple12);
    --color-alpha-purple-app-bg: var(--purple1a);
    --color-alpha-purple-subtle-bg: var(--purple2a);
    --color-alpha-purple-ui-bg: var(--purple3a);
    --color-alpha-purple-ui-hover: var(--purple4a);
    --color-alpha-purple-ui-active: var(--purple5a);
    --color-alpha-purple-subtle-border: var(--purple6a);
    --color-alpha-purple-ui-border: var(--purple7a);
    --color-alpha-purple-ui-border-hover: var(--purple8a);
    --color-alpha-purple-solid-bg: var(--purple9a);
    --color-alpha-purple-solid-hover: var(--purple10a);
    --color-alpha-purple-text-low: var(--purple11a);
    --color-alpha-purple-text-high: var(--purple12a);
    --color-violet-app-bg: var(--violet1);
    --color-violet-subtle-bg: var(--violet2);
    --color-violet-ui-bg: var(--violet3);
    --color-violet-ui-hover: var(--violet4);
    --color-violet-ui-active: var(--violet5);
    --color-violet-subtle-border: var(--violet6);
    --color-violet-ui-border: var(--violet7);
    --color-violet-ui-border-hover: var(--violet8);
    --color-violet-solid-bg: var(--violet9);
    --color-violet-solid-hover: var(--violet10);
    --color-violet-text-low: var(--violet11);
    --color-violet-text-high: var(--violet12);
    --color-alpha-violet-app-bg: var(--violet1a);
    --color-alpha-violet-subtle-bg: var(--violet2a);
    --color-alpha-violet-ui-bg: var(--violet3a);
    --color-alpha-violet-ui-hover: var(--violet4a);
    --color-alpha-violet-ui-active: var(--violet5a);
    --color-alpha-violet-subtle-border: var(--violet6a);
    --color-alpha-violet-ui-border: var(--violet7a);
    --color-alpha-violet-ui-border-hover: var(--violet8a);
    --color-alpha-violet-solid-bg: var(--violet9a);
    --color-alpha-violet-solid-hover: var(--violet10a);
    --color-alpha-violet-text-low: var(--violet11a);
    --color-alpha-violet-text-high: var(--violet12a);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}