@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/tomato.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/ruby.css";
@import "@radix-ui/colors/crimson.css";
@import "@radix-ui/colors/pink.css";
@import "@radix-ui/colors/plum.css";
@import "@radix-ui/colors/purple.css";
@import "@radix-ui/colors/violet.css";
@import "@radix-ui/colors/mauve-dark.css";
@import "@radix-ui/colors/tomato-dark.css";
@import "@radix-ui/colors/red-dark.css";
@import "@radix-ui/colors/ruby-dark.css";
@import "@radix-ui/colors/crimson-dark.css";
@import "@radix-ui/colors/pink-dark.css";
@import "@radix-ui/colors/plum-dark.css";
@import "@radix-ui/colors/purple-dark.css";
@import "@radix-ui/colors/violet-dark.css";
@import "@radix-ui/colors/mauve-alpha.css";
@import "@radix-ui/colors/tomato-alpha.css";
@import "@radix-ui/colors/red-alpha.css";
@import "@radix-ui/colors/ruby-alpha.css";
@import "@radix-ui/colors/crimson-alpha.css";
@import "@radix-ui/colors/pink-alpha.css";
@import "@radix-ui/colors/plum-alpha.css";
@import "@radix-ui/colors/purple-alpha.css";
@import "@radix-ui/colors/violet-alpha.css";
@import "@radix-ui/colors/mauve-dark-alpha.css";
@import "@radix-ui/colors/tomato-dark-alpha.css";
@import "@radix-ui/colors/red-dark-alpha.css";
@import "@radix-ui/colors/ruby-dark-alpha.css";
@import "@radix-ui/colors/crimson-dark-alpha.css";
@import "@radix-ui/colors/pink-dark-alpha.css";
@import "@radix-ui/colors/plum-dark-alpha.css";
@import "@radix-ui/colors/purple-dark-alpha.css";
@import "@radix-ui/colors/violet-dark-alpha.css";

:root, .dark {
    --mauve1: var(--mauve-1);
    --mauve2: var(--mauve-2);
    --mauve3: var(--mauve-3);
    --mauve4: var(--mauve-4);
    --mauve5: var(--mauve-5);
    --mauve6: var(--mauve-6);
    --mauve7: var(--mauve-7);
    --mauve8: var(--mauve-8);
    --mauve9: var(--mauve-9);
    --mauve10: var(--mauve-10);
    --mauve11: var(--mauve-11);
    --mauve12: var(--mauve-12);
    --mauve1a: var(--mauve-a1);
    --mauve2a: var(--mauve-a2);
    --mauve3a: var(--mauve-a3);
    --mauve4a: var(--mauve-a4);
    --mauve5a: var(--mauve-a5);
    --mauve6a: var(--mauve-a6);
    --mauve7a: var(--mauve-a7);
    --mauve8a: var(--mauve-a8);
    --mauve9a: var(--mauve-a9);
    --mauve10a: var(--mauve-a10);
    --mauve11a: var(--mauve-a11);
    --mauve12a: var(--mauve-a12);
    --tomato1: var(--tomato-1);
    --tomato2: var(--tomato-2);
    --tomato3: var(--tomato-3);
    --tomato4: var(--tomato-4);
    --tomato5: var(--tomato-5);
    --tomato6: var(--tomato-6);
    --tomato7: var(--tomato-7);
    --tomato8: var(--tomato-8);
    --tomato9: var(--tomato-9);
    --tomato10: var(--tomato-10);
    --tomato11: var(--tomato-11);
    --tomato12: var(--tomato-12);
    --tomato1a: var(--tomato-a1);
    --tomato2a: var(--tomato-a2);
    --tomato3a: var(--tomato-a3);
    --tomato4a: var(--tomato-a4);
    --tomato5a: var(--tomato-a5);
    --tomato6a: var(--tomato-a6);
    --tomato7a: var(--tomato-a7);
    --tomato8a: var(--tomato-a8);
    --tomato9a: var(--tomato-a9);
    --tomato10a: var(--tomato-a10);
    --tomato11a: var(--tomato-a11);
    --tomato12a: var(--tomato-a12);
    --red1: var(--red-1);
    --red2: var(--red-2);
    --red3: var(--red-3);
    --red4: var(--red-4);
    --red5: var(--red-5);
    --red6: var(--red-6);
    --red7: var(--red-7);
    --red8: var(--red-8);
    --red9: var(--red-9);
    --red10: var(--red-10);
    --red11: var(--red-11);
    --red12: var(--red-12);
    --red1a: var(--red-a1);
    --red2a: var(--red-a2);
    --red3a: var(--red-a3);
    --red4a: var(--red-a4);
    --red5a: var(--red-a5);
    --red6a: var(--red-a6);
    --red7a: var(--red-a7);
    --red8a: var(--red-a8);
    --red9a: var(--red-a9);
    --red10a: var(--red-a10);
    --red11a: var(--red-a11);
    --red12a: var(--red-a12);
    --ruby1: var(--ruby-1);
    --ruby2: var(--ruby-2);
    --ruby3: var(--ruby-3);
    --ruby4: var(--ruby-4);
    --ruby5: var(--ruby-5);
    --ruby6: var(--ruby-6);
    --ruby7: var(--ruby-7);
    --ruby8: var(--ruby-8);
    --ruby9: var(--ruby-9);
    --ruby10: var(--ruby-10);
    --ruby11: var(--ruby-11);
    --ruby12: var(--ruby-12);
    --ruby1a: var(--ruby-a1);
    --ruby2a: var(--ruby-a2);
    --ruby3a: var(--ruby-a3);
    --ruby4a: var(--ruby-a4);
    --ruby5a: var(--ruby-a5);
    --ruby6a: var(--ruby-a6);
    --ruby7a: var(--ruby-a7);
    --ruby8a: var(--ruby-a8);
    --ruby9a: var(--ruby-a9);
    --ruby10a: var(--ruby-a10);
    --ruby11a: var(--ruby-a11);
    --ruby12a: var(--ruby-a12);
    --crimson1: var(--crimson-1);
    --crimson2: var(--crimson-2);
    --crimson3: var(--crimson-3);
    --crimson4: var(--crimson-4);
    --crimson5: var(--crimson-5);
    --crimson6: var(--crimson-6);
    --crimson7: var(--crimson-7);
    --crimson8: var(--crimson-8);
    --crimson9: var(--crimson-9);
    --crimson10: var(--crimson-10);
    --crimson11: var(--crimson-11);
    --crimson12: var(--crimson-12);
    --crimson1a: var(--crimson-a1);
    --crimson2a: var(--crimson-a2);
    --crimson3a: var(--crimson-a3);
    --crimson4a: var(--crimson-a4);
    --crimson5a: var(--crimson-a5);
    --crimson6a: var(--crimson-a6);
    --crimson7a: var(--crimson-a7);
    --crimson8a: var(--crimson-a8);
    --crimson9a: var(--crimson-a9);
    --crimson10a: var(--crimson-a10);
    --crimson11a: var(--crimson-a11);
    --crimson12a: var(--crimson-a12);
    --pink1: var(--pink-1);
    --pink2: var(--pink-2);
    --pink3: var(--pink-3);
    --pink4: var(--pink-4);
    --pink5: var(--pink-5);
    --pink6: var(--pink-6);
    --pink7: var(--pink-7);
    --pink8: var(--pink-8);
    --pink9: var(--pink-9);
    --pink10: var(--pink-10);
    --pink11: var(--pink-11);
    --pink12: var(--pink-12);
    --pink1a: var(--pink-a1);
    --pink2a: var(--pink-a2);
    --pink3a: var(--pink-a3);
    --pink4a: var(--pink-a4);
    --pink5a: var(--pink-a5);
    --pink6a: var(--pink-a6);
    --pink7a: var(--pink-a7);
    --pink8a: var(--pink-a8);
    --pink9a: var(--pink-a9);
    --pink10a: var(--pink-a10);
    --pink11a: var(--pink-a11);
    --pink12a: var(--pink-a12);
    --plum1: var(--plum-1);
    --plum2: var(--plum-2);
    --plum3: var(--plum-3);
    --plum4: var(--plum-4);
    --plum5: var(--plum-5);
    --plum6: var(--plum-6);
    --plum7: var(--plum-7);
    --plum8: var(--plum-8);
    --plum9: var(--plum-9);
    --plum10: var(--plum-10);
    --plum11: var(--plum-11);
    --plum12: var(--plum-12);
    --plum1a: var(--plum-a1);
    --plum2a: var(--plum-a2);
    --plum3a: var(--plum-a3);
    --plum4a: var(--plum-a4);
    --plum5a: var(--plum-a5);
    --plum6a: var(--plum-a6);
    --plum7a: var(--plum-a7);
    --plum8a: var(--plum-a8);
    --plum9a: var(--plum-a9);
    --plum10a: var(--plum-a10);
    --plum11a: var(--plum-a11);
    --plum12a: var(--plum-a12);
    --purple1: var(--purple-1);
    --purple2: var(--purple-2);
    --purple3: var(--purple-3);
    --purple4: var(--purple-4);
    --purple5: var(--purple-5);
    --purple6: var(--purple-6);
    --purple7: var(--purple-7);
    --purple8: var(--purple-8);
    --purple9: var(--purple-9);
    --purple10: var(--purple-10);
    --purple11: var(--purple-11);
    --purple12: var(--purple-12);
    --purple1a: var(--purple-a1);
    --purple2a: var(--purple-a2);
    --purple3a: var(--purple-a3);
    --purple4a: var(--purple-a4);
    --purple5a: var(--purple-a5);
    --purple6a: var(--purple-a6);
    --purple7a: var(--purple-a7);
    --purple8a: var(--purple-a8);
    --purple9a: var(--purple-a9);
    --purple10a: var(--purple-a10);
    --purple11a: var(--purple-a11);
    --purple12a: var(--purple-a12);
    --violet1: var(--violet-1);
    --violet2: var(--violet-2);
    --violet3: var(--violet-3);
    --violet4: var(--violet-4);
    --violet5: var(--violet-5);
    --violet6: var(--violet-6);
    --violet7: var(--violet-7);
    --violet8: var(--violet-8);
    --violet9: var(--violet-9);
    --violet10: var(--violet-10);
    --violet11: var(--violet-11);
    --violet12: var(--violet-12);
    --violet1a: var(--violet-a1);
    --violet2a: var(--violet-a2);
    --violet3a: var(--violet-a3);
    --violet4a: var(--violet-a4);
    --violet5a: var(--violet-a5);
    --violet6a: var(--violet-a6);
    --violet7a: var(--violet-a7);
    --violet8a: var(--violet-a8);
    --violet9a: var(--violet-a9);
    --violet10a: var(--violet-a10);
    --violet11a: var(--violet-a11);
    --violet12a: var(--violet-a12);
}